* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/static/images/clear-bg.png");
  color: rgb(255, 255, 255);
}

/* menu */
/* TODO ? Menu is kind of responsive, but can be done better, 
possibly a slide out from the side on screens < 600px wide */

.nav-wrapper {
  padding: 5%;
  text-align: center;
}

.nav-wrapper:hover {
  color: rgb(85, 187, 255);
  cursor: pointer;
  background: rgb(105, 105, 105);
}

.nav-wrapper h2 {
  pointer-events: none;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

#sheet-close-btn {
  margin-left: 20vw;
  font-size: 6vw;
  cursor: pointer;
}

#menu-toggle {
  display: inline;
  font-size: 30px;
  cursor: pointer
}

/* general styling for the sheet content*/

.sheet-content {
  display: inline;
  align-content: center;
}

.sheet-section {
  border-radius: 50px;
  background: rgb(100, 100, 100);
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5%;
  padding: 5vh 10vw;
  justify-content: center;
}

.underlined-input__number {
  background: transparent;
  border-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: white;
  width: 3rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

#heal-or-damage-choice {
  background-color: rgb(163, 163, 163);
  font-weight: bold;
  font-size: 1rem;
}

/* 100% NEEDED */
#hit-dice-max::after {
  content: 'd';
}

#speed::after {
  content: ' ft.';
}

.temp-hp-wrapper,
.hp-wrapper,
.hit-dice-wrapper,
.death-saves-line {
  display: flex;
  justify-content: space-between;
}

.submit-heal-or-damage {
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  border: solid;
  border-color: black;
  border-radius: 15px;
  font-weight: bold;
  padding: 1vh 3vw;
}

.submit-heal-or-damage:active {
  background-color: rgb(255, 255, 255);
  color: rgb(63, 63, 63);
}

/* FIXME: this was not made with mobile in mind, it's just a temporary
styling that kinda works and will be used for testing. ultimately
all styling should be designed with mobile in mind first!*/

/* styling for the part with attribute scores and skills */
.species-wrapper,
.class-wrapper,
.alignment-wrapper,
.background-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.attribute-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}

.attribute-score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

/* the saving throw */
.skills-wrapper :first-child {
  margin-bottom: 0.5rem;
  font-style: italic;
  text-decoration: underline;
}

.skill * {
  margin-left: 1rem;
}

.skill-score {
  text-decoration: underline;
}

.attribute-small-input {
  /* 1 or 2 digit numbers only */
  width: 4rem;
  background: rgb(78, 78, 78);
  border: solid;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.attribute-big {
  /* 1 digit numbers with a + or - in front (excluding 0) */
  background: rgb(78, 78, 78);
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  margin: 0.5vh 0;
  padding: 3vh;
}

.passive-perception-wrapper {
  align-self: center;
  display: flex;
  align-items: center;
}

#passive-perception-score {
  margin-left: 1vw;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
}

.skill,
.limited-uses-wrapper,
.item-amount-and-name,
.attack,
.attacks-description-wrapper,
.powers-header__element__single-line,
.powers-header,
.power__single-line {
  display: flex;
}

.attack .label-with-background + .label-with-background {
  margin-left: 1rem;
}

.attacks-description-wrapper h4 + h4 {
  margin-left: 2rem;
}

.attacks-table {
  width: 75vw;
}

.attacks-table td {
  font-size: 16;
  width: fit-content;
  background-color: rgb(78, 78, 78);
  padding: 1.5vh;
  border-radius: 15px;
  text-align: center;
}

.table-header td {
  font-weight: bold;
  background: rgb(177, 177, 177);
  color: black;
}

.power__single-line {
  align-items: center;
}

.powers-header__element__single-line {
  align-items: flex-end;
}

.power {
  margin-left: 2rem;
}

/* TODO */
/* other pages that are ought to be moved into separate css file later*/

.error-div {
  text-align: center;
  font-size: xx-large;
}