/* menu styling */

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  font-family: 'STARWARS';
}

.nav-wrapper {
  padding: 1vh;
  cursor: pointer;
  transition: ease-out 0.2s;
  border: 1px rgb(0, 0, 0);
  border-style: solid;
}

.nav-wrapper h2 {
  font-family: 'STARWARS';
  font-weight: lighter;
}

.nav-wrapper:hover {
  background: #42d6ca !important;
  border-color: #42c0d6;
  color: #111;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(66, 192, 214, 0.44);
  -moz-box-shadow: 0px 0px 36px 6px rgba(66, 192, 214, 0.44);
  box-shadow: 0px 0px 36px 6px rgba(66, 192, 214, 0.44);
}

#sheet-close-btn,
.modal-close-btn {
  margin-left: 39vw;
  font-size: 6vw;
  cursor: pointer;
  transition: 1s;
}

#sheet-close-btn:hover {
  color: red;
}

#menu-toggle {
  z-index: 1;
  margin-left: 2vw;
  display: inline;
  font-size: 220%;
  position: fixed;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  #sheet-close-btn {
    font-size: 15vw;
    margin-left: 35vw;
    display: inline-block;
  }
  .side-menu {
    padding-top: 15px;
  }

  #menu-toggle {
    display: block;
  }

  .nav-wrapper {
    padding: 0.4vh;
  }

  .sheet-section,
  .edit-sheet-section {
    margin-left: 1vw !important;
  }
}

@media screen and (min-width: 600px) {
  #sheet-close-btn {
    display: none;
  }
  .side-menu {
    width: 200px;
  }

  .sheet-section {
    margin-left: 200px !important;
  }

  .sheet-delete-btn-txt {
    width: 15vw !important;
  }

  #submit-heal-or-damage {
    width: 15vw !important;
  }
}

/* general styling for the sheets */

.sheet-content {
  display: inline;
}

.sheet-section {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5%;
  padding: 5vh 5vw;
}

.sheet-delete-btn-txt {
  width: 40%;
}

.sheet-section h2 {
  margin-top: 20px;
}

/* info */

#character-name {
  font-family: 'STARWARS';
  font-weight: lighter;
  font-size: xxx-large;
  color: yellow;
}

/* hp */

#hp-section {
  padding-left: 25%;
}

#hp-section .checkbox-container,
#attributes-and-skills-section .checkbox-container {
  margin-left: 5px;
}

#hp-section-edit {
  text-align: center;
}

#hp-section div > h4:first-child,
.death-saves-wrapper > h4,
.bonus-wrapper > h4:first-child {
  color: yellow;
}

.hit-dice-wrapper h4,
.limited-uses-wrapper h4 {
  padding-top: 5px;
}

.death-saves-line,
.hit-dice-wrapper {
  margin-bottom: 20px;
}

/* bonuses */

#bonuses-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#bonuses-section > div {
  display: inline-block;
  margin: 1vh;
}

#bonuses-section input {
  padding: 3%;
}

.bonus-wrapper input {
  text-align: center;
}

.tab {
  display: inline-block;
  background-color: rgb(68, 68, 68);
  padding: 1%;
}

/* eq */

#credits {
  width: 150px;
}

/* sheets' content styling */

.add-button {
  width: 20%;
}

.underlined-input__number {
  width: 3rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/* 100% NEEDED */
#hit-dice-max::after {
  content: 'd';
}

#speed::after {
  content: ' ft.';
}

.temp-hp-wrapper,
.hp-wrapper,
.hit-dice-wrapper,
.death-saves-line {
  display: flex;
}

#submit-heal-or-damage {
  width: 65%;
  padding: 0.5vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* styling for the part with attribute scores and skills */
.species-wrapper,
.class-wrapper,
.background-wrapper,
.alignment-wrapper,
.combat-info-wrapper {
  display: flex;
}

.sheet-section h4,
.sheet-section h3,
.sheet-section input {
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'STARWARS';
  font-weight: lighter;
}

.attribute-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.attribute-score-wrapper {
  text-align: center;
}

.attribute-score-wrapper h1 {
  font-family: 'STARWARS';
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

/* the saving throw */
.skills-wrapper :first-child {
  margin-bottom: 0.5rem;
  font-style: italic;
  color: yellow;
}

.attribute-small-input {
  /* 1 or 2 digit numbers only */
  width: 4rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.attribute-big {
  /* 1 digit numbers with a + or - in front (excluding 0) */
  margin: 0.5vh 0;
  padding: 3vh;
  font-size: xx-large;
}

.attribute-big:before {
  content: 'level';
  font-family: 'STARWARS';
  color: yellow;
}

.passive-perception-wrapper {
  align-self: center;
  display: flex;
  align-items: center;
}

#passive-perception-score {
  margin-left: 1vw;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
}

.skill,
.limited-uses-wrapper,
.item-amount-and-name,
.attack,
.attacks-description-wrapper,
.powers-header__element__single-line,
.powers-header,
.power__single-line {
  display: flex;
}

/* attacks */

.attack .label-with-background + .label-with-background {
  margin-left: 1rem;
}

.attacks-description-wrapper h4 + h4 {
  margin-left: 2rem;
}

#attacks-table {
  width: 60vw;
}

#attacks-table td {
  width: fit-content;
  background-color: rgba(78, 78, 78, 0.828);
  padding: 1.5vw;
  text-align: center;
}

#attacks-table-header td {
  font-family: 'STARWARS';
  font-weight: bold;
  background: #42c0d6ca;
  color: black;
}

/* powers */

.tabs-button-active {
  background-color: #42d6ca;
  color: #111;
}

.power__single-line {
  align-items: center;
}

.powers-list-wrapper > h3:first-child {
  margin-top: 20px;
}

.powers-header-active {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.powers-header__element__single-line {
  align-items: flex-end;
}

.powers-header-wrapper {
  background-color: rgba(63, 63, 63, 0.4);
}

.powers-header__element {
  display: none;
}

/* skills */

#attributes-and-skills-section .skill-score {
  margin-left: 10px;
}

.skills-toggle {
  width: 100%;
}

.skills-toggle {
  background-color: rgb(68, 68, 68);
  border: none;
  padding: 2%;
  text-align: left;
  color: white;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.skills-toggle:after {
  content: '\002B';
  color: #777;
  font-weight: lighter;
  float: right;
  margin-left: 5px;
}

.skills-toggle-active:after {
  content: '\2212';
}

.skills-toggle:hover {
  background: rgba(116, 116, 116, 0.8);
  box-shadow: none;
}

/* notes */

#notes-edit {
  min-height: 80vh;
}

li {
  background: rgba(63, 63, 63, 0.4);
  margin: 10px 0px 10px 0px;
  padding: 1vw;
}

ul {
  list-style: none;
}

#utility-section {
  text-align: center;
}

#utility-section > input:first-child {
  width: 40%;
  margin-bottom: 30px;
}
