/* overall styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/static/images/clear-bg.png');
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: STARWARS;
    src: url(/static/fonts/STARWARS/STARWARS.ttf);
}

input,
textarea {
    padding: 10px;
    background: rgba(116, 116, 116, 0.376);
    color: white;
    border: white;
    transition: ease-out 0.3s;
}

select {
    padding: 4px;
    font-weight: lighter;
    font-family: 'STARWARS';
    background: rgba(116, 116, 116, 0.376);
    color: white;
    border: white;
}

option {
    font-family: 'STARWARS';
    background-color: #3b3b3b;
    color: white;
}

button, .input-button, .button {
    font-size: medium;
    background: black;
    padding: 2vh;
    min-width: 25%;
    color: #42D6CA;
    border-style: solid;
    border-color: #42D6CA;
    border-width: 1px;
    transition: ease-in 0.2s;
    cursor: pointer;
    font-family: 'STARWARS';
}

.main-content-wrapper > button, .input-button, .button {
    width: fit-content;
}

button:hover, .button:hover, .input-button:hover,
button:active, .button:active, .input-button:active {
    background: #42d6ca;
    border-color: #42c0d6;
    color: #111;
    -webkit-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    -moz-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
}

.input-button {
    width: 100%;
}

.input-text {
    font-size: medium;
}

.input-text:hover {
    -webkit-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    -moz-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    background-color: #37ada4;
    color: #111;
}

.input-text:active {
    background-color: #42D6CA;
    color: #111;
}

textarea {
    width: 100%;
    resize: none;
}

.footer, .header {
    padding: 1%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    left: 0;
    color: #3b3b3b;
    font-size: smaller;
}

.header {
    top: 0;
    height: 8%;
}

.header-title {
    padding: 10px;
    font-family: 'STARWARS';
    font-size: xx-large;
    color: #eeff01;
}

.header-buttons-wrapper {
    text-align: right;
}

.main-content-wrapper, .account-management {
    padding: 10%;
    text-align: center;
}

.main-content-wrapper > h1 {
    font-family: 'STARWARS';
    font-weight: lighter;
    color: #eeff01;
}

.error-div {
    text-align: center;
    font-size: xx-large;
}

.error-message {
    color: red;
    font-size: small;
}


/* modal boxes (login, register) */

.modal-close-btn {
    font-size: 12vw;
    float: right;
    cursor: pointer;
    transition: 1s;
}

.modal-close-btn:hover {
    color: red;
}

.modal-content {
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}

.modal-content-wrapper {
    padding: 2%;
    display: inline-block;
    width: 50%;
    border: 1px #42D6CA;
    border-style: solid;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    align-content: center;
}

.forgot-password-btn {
    font-size: smaller;
    font-weight: lighter;
    border: none;
    font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.blurred-element {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

label {
    font-family: 'STARWARS';
}

/* big screens */

@media screen and (min-width: 600px) {
    button, .input-button, .button {
        background: black;
        padding: 10px;
        min-width: 5%;
    }

    .wide-btn {
        width: 50%;
    }
    
    .delete-btn-txt {
        margin-top: 20px;
        width: 50%;
        border-color: #bd0000;
        border-style: 1px solid;
        color: #bd0000;
    }

    .account-management {
        width: 50%;
    }

    .modal-close-btn {
        font-size: 4vw;
    }
}

/* small screens */

@media screen and (max-width: 600px) {
    .modal-content-wrapper {
        width: 80%;
    }

    .delete-btn, .sheet-link {
        font-size: 10vw !important;
    }

    select {
        width: 47%;
    }
}

/* profile */

a {
    text-decoration: none;
    color: #42D6CA;
    cursor: pointer;
}

ul#sheet-links {
    list-style: none;
}

.sheet-link {
    font-size: 3vw;
    font-family: 'STARWARS';
}

.delete-btn {
    font-size: 3vw;
    cursor: pointer;
    transition: 1s;
    float: right;
    font-family: 'Roboto', sans-serif;
}

.delete-btn:hover, .delete-btn:active {
    color: red;
}

#create-char-btn, .wide-btn {
    width: 100%;
    margin-top: 20px;
}

.wide-btn {
    width: 70%;
}

.form-element {
    margin-bottom: 10px;
}

.label {
    margin-right: 4px;
    font-weight: lighter;
    font-family: 'STARWARS';
}

.form-element > * {
    display: block;
    width: 100%;
}

.account-management {
    text-align: center;
    display: inline-block;
}

.account-management-wrapper {
    width: 100%;
    text-align: center;
}

.delete-btn-txt, .sheet-delete-btn-txt {
    margin-top: 20px;
    width: 70%;
    border-color: #bd0000;
    border-style: 1px solid;
    color: #bd0000;
}

.delete-btn-txt:hover, .delete-btn-txt:active, .sheet-delete-btn-txt:hover {
    background-color: #bd0000;
    border-color: #bd0000;
    -webkit-box-shadow: 0px 0px 36px 6px #bd0000d2;
    -moz-box-shadow: 0px 0px 36px 6px #bd0000d2;
    box-shadow: 0px 0px 36px 6px #bd0000d2;
}

/* checkboxes */

.checkbox-container {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 20px;
}

.checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.checkmark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px #42c0d6;
    border-style: solid;
}

.checkmark:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input[name=remember] + .checkmark:before {
    content: "";
}

input:checked + .checkmark {
    background-color: #42D6CA;
    -webkit-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    -moz-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
}

input:focus + .checkmark {
    -webkit-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    -moz-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
}

input:checked + .checkmark:before {
    background-color: rgb(0, 0, 0);
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.checkmark:hover {
    -webkit-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    -moz-box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
    box-shadow: 0px 0px 36px 6px rgba(66,192,214,0.44);
}

  /* Rounded sliders */
.checkmark {
    border-radius: 40px;
}

.checkmark:before {
    border-radius: 100%;
}

/* disabled sliders */

input:disabled + .checkmark {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
    cursor: unset;
}

input:disabled + .checkmark:before {
    background-color: #999999;
    bottom: 3px;
}

input:disabled + .checkmark {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:disabled + .checkmark {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:disabled + .checkmark:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}