* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/static/images/clear-bg.png');
    color: rgb(255, 255, 255);
}

input,
textarea,
select {
    padding: 1%;
    background: rgba(116, 116, 116, 0.376);
    color: white;
    border: white;
}

button, .input-button {
    background: black;
    padding: 1vh;
    color: white;
    border-style: solid;
    border-color: #42D6CA;
    border-width: 1px;
    transition: ease-out 0.3s;
}

.input-button:hover, button:hover {
    background: #42D6CA;
    color: black;
    border-width: 2px;
}

.input-button {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
}

.error-div {
    text-align: center;
    font-size: xx-large;
}

.footer, .header {
    padding: 1%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    left: 0;
}

.header {
    top: 0;
    height: 8%;
}

.header-buttons-wrapper {
    text-align: right;
}

.main-content-wrapper {
    padding: 10%;
}