<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/general-style.css') }}"
    />
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/char-sheet-style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon-32.png') }}"
    />
    <title>SW5e</title>
  </head>
  <body>
    <div id="sheet-side-menu" class="side-menu">
      <!-- names here propably will be changed to icons -->
      <div id="sheet-close-btn">
        &times;
      </div>
      <div class="nav-wrapper">
        <h2>Info</h2>
      </div>
      <div class="nav-wrapper">
        <h2>HP</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Features</h2>
      </div>
      <div class="nav-wrapper">
        <h2>EQ</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Attacks</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Powers</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Notes</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Skills</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Bonuses</h2>
      </div>
      <div class="nav-wrapper">
        <h2 id="short-rest">Short rest</h2>
      </div>
      <div class="nav-wrapper">
        <h2 id="long-rest">Long rest</h2>
      </div>
      <div class="nav-wrapper">
        <h2 id="save-nav">Save</h2>
      </div>
      <div class="nav-wrapper">
        <h2 id="return-nav">Home</h2>
      </div>
      <div class="nav-wrapper">
        <h2>Edit</h2>
      </div>
    </div>
    <div id="menu-toggle">&#9776;</div>

    <div class="sheet-content">
      <!-- #region view sections -->
      <div class="sheet-section display-sheet-section" id="basic-info-section">
        <h2 id="character-name"></h2>
        <div class="species-wrapper">
          <h4 class="label">Species:</h4>
          <h4 id="species"></h4>
        </div>
        <div class="class-wrapper">
          <h4 class="label">Class:</h4>
          <h4 id="class"></h4>
          <h4 id="archetype"></h4>
        </div>
        <div class="class-wrapper">
          <h4 class="label">Level:</h4>
          <h4 id="level"></h4>
        </div>
        <div class="background-wrapper">
          <h4 class="label">Background:</h4>
          <h4 id="background"></h4>
        </div>
        <div class="alignment-wrapper">
          <h4 class="label">Alignment:</h4>
          <h4 id="alignment"></h4>
        </div>
        <div class="combat-info-wrapper">
          <h4 class="label">Speed:</h4>
          <h3 id="speed"></h3>
        </div>
        <div class="combat-info-wrapper">
          <h4 class="label">Proficiency bonus:</h4>
          <h3 id="proficiency-bonus"></h3>
        </div>
        <div class="combat-info-wrapper">
          <h4 class="label">Armor Class:</h4>
          <h3 id="armor-class"></h3>
        </div>
        <div class="combat-info-wrapper">
          <h4 class="label">Initiative bonus:</h4>
          <h3 id="initiative"></h3>
        </div>
        <div class="personality-wrapper">
          <h4 class="label">Personality traits:</h4>
          <p id="personality-traits"></p>
          <h4 class="label">Ideal:</h4>
          <p id="ideal"></p>
          <h4 class="label">Bond:</h4>
          <p id="bond"></p>
          <h4 class="label">Flaw:</h4>
          <p id="flaw"></p>
        </div>
      </div>

      <div class="sheet-section display-sheet-section" id="hp-section">
        <div class="hp-wrapper">
          <h4 class="label">Hit Points:</h4>
          <h4 id="curr-hp"></h4>
          <h4 class="slash-separator">/</h4>
          <h4 id="max-hp"></h4>
        </div>
        <div class="temp-hp-wrapper">
          <h4 class="label">Temporary HP:</h4>
          <h4 id="temp-hp"></h4>
        </div>
        <div class="heal-or-damage-wrapper">
          <input
            type="number"
            id="heal-or-damage-amount"
            class="number underlined-input__number"
          />
          <select name="heal-or-damage-choice" id="heal-or-damage-choice">
            <option value="damage">Damage</option>
            <option value="heal">Heal</option>
            <option value="temp-hp">Temp. HP</option>
          </select>
        </div>
        <button
          id="submit-heal-or-damage"
          class="wide-button"
          style="display: block;"
        ></button>
        <div class="hit-dice-wrapper">
          <h4 class="label">Hit dice:</h4>
          <input
            type="number"
            id="hit-dice-available-amount"
            class="number underlined-input__number"
          />
          <h4 class="slash-separator">/</h4>
          <h4 id="hit-dice-max"></h4>
          <h4 id="hit-dice-die"></h4>
        </div>
        <div class="death-saves-wrapper">
          <h4 class="label">Successes:</h4>
          <div class="death-saves-line" id="death-saves__successes">
            <input type="checkbox" class="checkbox" />
            <input type="checkbox" class="checkbox" />
            <input type="checkbox" class="checkbox" />
          </div>
          <h4 class="label">Failures:</h4>
          <div class="death-saves-line" id="death-saves__failures">
            <input type="checkbox" class="checkbox" />
            <input type="checkbox" class="checkbox" />
            <input type="checkbox" class="checkbox" />
          </div>
        </div>
      </div>

      <div class="sheet-section display-sheet-section" id="features-section">
        <div class="proficiencies-wrapper">
          <h2 class="label">Other proficiencies:</h2>
          <ul id="proficiencies"></ul>
        </div>
        <div class="languages-wrapper">
          <h2 class="label">Languages:</h2>
          <ul id="languages"></ul>
        </div>
        <div class="features-and-traits-wrapper">
          <h2 class="label">Features & traits:</h2>
          <ul id="features-and-traits">
            <!-- probably the longest section -->
          </ul>
        </div>
      </div>

      <div class="sheet-section display-sheet-section" id="equipment-section">
        <h4 class="label">Credits:</h4>
        <input
          type="number"
          id="credits"
          class="number underlined-input__number"
        />
        <ul id="equipment"></ul>
      </div>

      <div class="sheet-section display-sheet-section" id="attacks-section">
        <table id="attacks-table">
          <tr id="attacks-table-header">
            <td>Name</td>
            <td>Attack bonus</td>
            <td>Damage</td>
            <td>Notes</td>
          </tr>
        </table>
      </div>

      <div class="sheet-section display-sheet-section" id="powers-section">
        <div class="powers-header-wrapper">
          <div class="tabs">
            <button class="tabs-button" id="tabs__tech">Tech</button>
            <button class="tabs-button" id="tabs__dark">Dark side</button>
            <button class="tabs-button" id="tabs__light">Light side</button>
            <button class="tabs-button" id="tabs__power-points">
              Power points
            </button>
          </div>

          <div class="powers-header">
            <div class="powers-header__element">
              <h3 class="label">Tech powers:</h3>
              <div class="powers-header__element__single-line">
                <h4 class="label">Tech save DC:</h4>
                <h4 id="tech-save-dc"></h4>
              </div>
              <div class="powers-header__element__single-line">
                <h4 class="label">Tech attack bonus:</h4>
                <h4 id="tech-attack-bonus"></h4>
              </div>
            </div>

            <div class="powers-header__element">
              <h3 class="label">Dark side powers:</h3>
              <div class="powers-header__element__single-line">
                <h4 class="label">Dark side save DC:</h4>
                <h4 id="dark-side-save-dc"></h4>
              </div>
              <div class="powers-header__element__single-line">
                <h4 class="label">Dark side attack bonus:</h4>
                <h4 id="dark-side-attack-bonus"></h4>
              </div>
            </div>

            <div class="powers-header__element">
              <h3 class="label">Light side powers:</h3>
              <div class="powers-header__element__single-line">
                <h4 class="label">Light side save DC:</h4>
                <h4 id="light-side-save-dc"></h4>
              </div>
              <div class="powers-header__element__single-line">
                <h4 class="label">Light side attack bonus:</h4>
                <h4 id="light-side-attack-bonus"></h4>
              </div>
            </div>

            <div class="powers-header__element">
              <h4 class="label">Power points:</h4>
              <div class="powers-header__element__single-line">
                <input
                  type="number"
                  id="current-power-points"
                  class="number underlined-input__number"
                />
                <h4 class="slash-separator">/</h4>
                <h4 class="label" id="max-power-points"></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="powers-list-wrapper">
          <h3 class="label">Powers known:</h3>
          <ol class="powers-list-power-levels" start="0">
            <li id="powers__at-will">
              <br />
            </li>
            <li id="powers__level-1">
              <br />
            </li>
            <li id="powers__level-2">
              <br />
            </li>
            <li id="powers__level-3">
              <br />
            </li>
            <li id="powers__level-4">
              <br />
            </li>
            <li id="powers__level-5">
              <br />
            </li>
            <li id="powers__level-6">
              <br />
            </li>
            <li id="powers__level-7">
              <br />
            </li>
            <li id="powers__level-8">
              <br />
            </li>
            <li id="powers__level-9">
              <br />
            </li>
          </ol>
        </div>
      </div>

      <div class="sheet-section display-sheet-section" id="notes-section">
        <p id="notes"></p>
      </div>

      <!-- #endregion -->
      <!-- #region editing sections -->
      <div
        class="sheet-section edit-sheet-section"
        id="basic-info-section-edit"
      >
        <input
          type="button"
          id="level-up"
          class="input-button"
          value="Level up"
        />

        <h4 class="label">Name:</h4>
        <input type="text" id="character-name-edit" class="text" />

        <h4 class="label">Species:</h4>
        <input type="text" id="species-edit" class="text" />

        <h4 class="label">Class & level:</h4>
        <input type="text" id="class-edit" class="text" />
        <input type="text" id="archetype-edit" class="text" />
        <input type="number" id="level-edit" class="number" />

        <h4 class="label">Background:</h4>
        <input type="text" id="background-edit" class="text" />

        <h4 class="label">Alignment:</h4>
        <input type="text" id="alignment-edit" class="text" />

        <h4 class="label">Speed:</h4>
        <input type="number" id="speed-edit" class="number" />

        <h4 class="label">Base Armor Class:</h4>
        <input type="number" id="armor-class-edit" class="number" />

        <h4 class="label">Equipped Armor Type:</h4>
        <select id="equipped-armor-type">
          <option value="none">None</option>
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
        </select>

        <div class="personality-wrapper">
          <h4 class="label">Personality traits:</h4>
          <textarea rows="5" cols="80" id="personality-traits-edit"></textarea>
          <h4 class="label">Ideal:</h4>
          <textarea rows="5" cols="80" id="ideal-edit"></textarea>
          <h4 class="label">Bond:</h4>
          <textarea rows="5" cols="80" id="bond-edit"></textarea>
          <h4 class="label">Flaw:</h4>
          <textarea rows="5" cols="80" id="flaw-edit"></textarea>
        </div>
      </div>

      <div class="sheet-section edit-sheet-section" id="hp-section-edit">
        <h4 class="label">Max hit points:</h4>
        <input type="number" id="max-hp-edit" class="number" />
        <h4 class="label">Hit dice die:</h4>
        <input type="number" id="hit-dice-die-edit" class="number" />
      </div>

      <div class="sheet-section edit-sheet-section" id="features-section-edit">
        <div class="proficiencies-wrapper">
          <h2 class="label">Other proficiencies:</h2>
          <ul id="proficiencies-edit">
            <!-- add in ts -->
          </ul>
          <input
            type="button"
            value="+"
            id="add-other-proficiency"
            class="input-button add-button"
          />
        </div>
        <div class="languages-wrapper">
          <h2 class="label">Languages:</h2>
          <ul id="languages-edit">
            <!-- add in ts -->
          </ul>
          <input
            type="button"
            value="+"
            id="add-language"
            class="input-button add-button"
          />
        </div>
        <div class="features-and-traits-wrapper">
          <h2 class="label">Features & traits:</h2>
          <ul id="features-and-traits-edit">
            <!-- add in ts -->
          </ul>
          <input
            type="button"
            value="+"
            id="add-feature"
            class="input-button add-button"
          />
        </div>
      </div>

      <div class="sheet-section edit-sheet-section" id="equipment-section-edit">
        <ul id="equipment-edit">
          <!-- add in ts -->
        </ul>
        <input
          type="button"
          value="+"
          id="add-equipment"
          class="input-button add-button"
        />
      </div>

      <div class="sheet-section edit-sheet-section" id="attacks-section-edit">
        <ul id="attacks-edit">
          <!-- add in ts -->
        </ul>
        <input
          type="button"
          value="+"
          id="add-attack"
          class="input-button add-button"
        />
      </div>

      <div class="sheet-section edit-sheet-section" id="powers-section-edit">
        <h4 class="label">Max power points:</h4>
        <input
          type="number"
          id="max-power-points-edit"
          class="number underlined-input__number"
        />

        <div class="powers-list-wrapper">
          <h3 class="label">Powers known:</h3>
          <ol class="powers-list-power-levels" start="0">
            <li id="powers__at-will-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__at-will"
              class="input-button add-button"
            />
            <li id="powers__level-1-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-1"
              class="input-button add-button"
            />
            <li id="powers__level-2-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-2"
              class="input-button add-button"
            />
            <li id="powers__level-3-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-3"
              class="input-button add-button"
            />
            <li id="powers__level-4-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-4"
              class="input-button add-button"
            />
            <li id="powers__level-5-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-5"
              class="input-button add-button"
            />
            <li id="powers__level-6-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-6"
              class="input-button add-button"
            />
            <li id="powers__level-7-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-7"
              class="input-button add-button"
            />
            <li id="powers__level-8-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-8"
              class="input-button add-button"
            />
            <li id="powers__level-9-edit">
              <br />
            </li>
            <input
              type="button"
              value="+"
              id="add-power__level-9"
              class="input-button add-button"
            />
          </ol>
        </div>
      </div>
      <div class="sheet-section edit-sheet-section" id="notes-section-edit">
        <textarea rows="20" cols="100" id="notes-edit"> </textarea>
      </div>

      <div
        class="sheet-section display-sheet-section edit-sheet-section"
        id="attributes-and-skills-section"
      >
        <button class="skills-toggle">STRENGTH</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="strength-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="strength-score"
              />
            </div>
          </div>
          <div class="skills-wrapper">
            <div class="skill" id="strength-save">
              <input
                type="checkbox"
                id="strength-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="strength-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
            <div class="skill" id="athletics">
              <input
                type="checkbox"
                id="athletics-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="athletics-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="athletics-score"></h4>
              <h4 class="skill-name">Athletics</h4>
            </div>
          </div>
        </div>

        <button class="skills-toggle">DEXTERITY</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="dexterity-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="dexterity-score"
              />
            </div>
          </div>
          <div class="skills-wrapper">
            <div class="skill" id="dexterity-save">
              <input
                type="checkbox"
                id="dexterity-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="dexterity-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
            <div class="skill" id="acrobatics">
              <input
                type="checkbox"
                id="acrobatics-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="acrobatics-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="acrobatics-score"></h4>
              <h4 class="skill-name">Acrobatics</h4>
            </div>
            <div class="skill" id="sleight-of-hand">
              <input
                type="checkbox"
                id="sleight-of-hand-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="sleight-of-hand-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="sleight-of-hand-score"></h4>
              <h4 class="skill-name">Sleight of Hand</h4>
            </div>
            <div class="skill" id="stealth">
              <input
                type="checkbox"
                id="stealth-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="stealth-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="stealth-score"></h4>
              <h4 class="skill-name">Stealth</h4>
            </div>
          </div>
        </div>

        <button class="skills-toggle">CONSTITUTION</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="constitution-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="constitution-score"
              />
            </div>
          </div>
          <div class="skills-wrapper">
            <div class="skill" id="constitution-save">
              <input
                type="checkbox"
                id="constitution-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="constitution-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
          </div>
        </div>

        <button class="skills-toggle">INTELLIGENCE</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="intelligence-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="intelligence-score"
              />
            </div>
          </div>
          <div class="skills-wrapper">
            <div class="skill" id="intelligence-save">
              <input
                type="checkbox"
                id="intelligence-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="intelligence-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
            <div class="skill" id="investigation">
              <input
                type="checkbox"
                id="investigation-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="investigation-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="investigation-score"></h4>
              <h4 class="skill-name">
                Investigation
              </h4>
            </div>
            <div class="skill" id="lore">
              <input
                type="checkbox"
                id="lore-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="lore-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="lore-score"></h4>
              <h4 class="skill-name">Lore</h4>
            </div>
            <div class="skill" id="nature">
              <input
                type="checkbox"
                id="nature-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="nature-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="nature-score"></h4>
              <h4 class="skill-name">Nature</h4>
            </div>
            <div class="skill" id="piloting">
              <input
                type="checkbox"
                id="piloting-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="piloting-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="piloting-score"></h4>
              <h4 class="skill-name">Piloting</h4>
            </div>
            <div class="skill" id="technology">
              <input
                type="checkbox"
                id="technology-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="technology-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="technology-score"></h4>
              <h4 class="skill-name">Technology</h4>
            </div>
          </div>
        </div>

        <button class="skills-toggle">WISDOM</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="wisdom-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="wisdom-score"
              />
            </div>
          </div>
          <div class="skills-wrapper">
            <div class="skill" id="wisdom-save">
              <input
                type="checkbox"
                id="wisdom-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="wisdom-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
            <div class="skill" id="animal-handling">
              <input
                type="checkbox"
                id="animal-handling-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="animal-handling-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="animal-handling-score"></h4>
              <h4 class="skill-name">Animal handling</h4>
            </div>
            <div class="skill" id="insight">
              <input
                type="checkbox"
                id="insight-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="insight-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="insight-score"></h4>
              <h4 class="skill-name">Insight</h4>
            </div>
            <div class="skill" id="medicine">
              <input
                type="checkbox"
                id="medicine-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="medicine-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="medicine-score"></h4>
              <h4 class="skill-name">Medicine</h4>
            </div>
            <div class="skill" id="perception">
              <input
                type="checkbox"
                id="perception-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="perception-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="perception-score"></h4>
              <h4 class="skill-name">Perception</h4>
            </div>
            <div class="skill" id="survival">
              <input
                type="checkbox"
                id="survival-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="survival-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="survival-score"></h4>
              <h4 class="skill-name">Survival</h4>
            </div>
          </div>
        </div>

        <button class="skills-toggle">CHARISMA</button>
        <div class="attribute-wrapper">
          <div class="attribute-score-wrapper">
            <div class="attribute-big">
              <h1 id="charisma-mod"></h1>
            </div>
            <div class="attibute-small">
              <input
                type="number"
                class="attribute-small-input"
                id="charisma-score"
              />
            </div>
          </div>

          <div class="skills-wrapper">
            <div class="skill" id="charisma-save">
              <input
                type="checkbox"
                id="charisma-save-prof"
                class="proficiency-checkbox"
              />
              <h4 class="skill-score" id="charisma-save-score"></h4>
              <h4 class="skill-name">
                Saving Throw
              </h4>
            </div>
            <div class="skill" id="deception">
              <input
                type="checkbox"
                id="deception-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="deception-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="deception-score"></h4>
              <h4 class="skill-name">
                Deception
              </h4>
            </div>
            <div class="skill" id="intimidation">
              <input
                type="checkbox"
                id="intimidation-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="intimidation-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="intimidation-score"></h4>
              <h4 class="skill-name">Intimidation</h4>
            </div>
            <div class="skill" id="performance">
              <input
                type="checkbox"
                id="performance-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="performance-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="performance-score"></h4>
              <h4 class="skill-name">Performance</h4>
            </div>
            <div class="skill" id="persuasion">
              <input
                type="checkbox"
                id="persuasion-prof"
                class="proficiency-checkbox"
              />
              <input
                type="checkbox"
                id="persuasion-expertise"
                class="proficiency-checkbox__expertise"
              />
              <h4 class="skill-score" id="persuasion-score"></h4>
              <h4 class="skill-name">Persuasion</h4>
            </div>
          </div>
        </div>
        <div class="passive-perception-wrapper">
          <h4>Passive Wisdom (Perception)</h4>
          <h4 id="passive-perception-score"></h4>
        </div>
      </div>

      <div
        class="sheet-section display-sheet-section edit-sheet-section"
        id="bonuses-section"
      >
        <!-- this gets filled in js, the format is:
              <h4 class="label">Bonus Name</h4>
              <input type="number" id="bonus-name-bonus-value" />-->
      </div>
      <!-- #endregion -->
      <div
        id="utility-section"
        class="sheet-section"
        style="display: none;"
      ></div>
    </div>
    <script>
      // this is only done so that typescript has no problem with using a variable
      // defined in a completly different place
      sessionStorage.setItem(
        'characterSheet',
        '{{ data | tojson | safe }}'.slice(1, -1)
      )
    </script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/char-sheet-html-updates.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/char-sheet-script.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/api-handler.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/website-animations.js') }}"
    ></script>
  </body>
</html>
