{% extends "layout.html" %} {% block content %}
<div class="header">
  <div class="header-title">SW5e character sheets</div>
  <div class="header-buttons-wrapper">
    <a href="{{ url_for('account') }}">
      <button>Account</button>
    </a>
    <a href="{{ url_for('logout') }}">
      <button>Log out</button>
    </a>
  </div>
</div>

<div class="main-content-wrapper">
  <ul id="sheet-links">
    {% for sheet in sheets %}
    <li class="sheet-link">
      <a href="char-sheet/{{ sheet[0] }}" class="chracter-sheet-link">{{ sheet[1] }}</a>
      <a href="delete-sheet/{{ sheet[0] }}" class="delete-btn">
        &times;
      </a>
    </li>
    {% endfor %}
  </ul>
  <form action="{{ url_for('create_sheet') }}" method="POST">
    <button id="create-char-btn">Create a character</button>
  </form>
</div>

<div class="footer">
  <p>Background image generated <a href="http://wwwtyro.github.io/procedural.js/space/" target="_blank">here</a></p>
  <p>Contact: sw5esheets@gmail.com</p>
</div>
{% endblock content %}
