{% extends "layout.html" %} {% block content %}
<div class="header">
  <div class="header-title">SW5e character sheets</div>
  <div class="header-buttons-wrapper">
    <button id="login-button">Login</button>
    <button id="register-button">Register</button>
  </div>
</div>
<div class="main-content-wrapper">
  <h1>Welcome</h1>
  <h3>To Star Wars 5th Edition Conversion Character Sheets</h3>
  <p>
    We offer you a place to store and use your character sheets. Any calculations are done by the sheet itself,
    so all you need to do is create your character, fill in their stats and you are good to go.
  </p>
  <p>
    Everything is based off of the conversion created and hosted <a class="visible-a" href="https://sw5e.com/">here.</a>
  </p>
</div>

<div class="modal" id="login-modal">
    <div class="modal-content-wrapper">
      <div id="login-close-btn" class="modal-close-btn">&times;</div>
      <form action="{{ url_for('login') }}" method="POST">
        {{ login_form.csrf_token(id='log-csrf') }}
        <div class="modal-content form-element">
          {{ login_form.username.label(class='modal-content') }}
            {% if errors and origin == 'login' %}
              {% if 'username' in errors %}
                {{ login_form.username(class='modal-content invalid-input') }}
                {% for message in errors['username'] %}
                  <p class="error-message">{{ message }}</p>
                  {% if message.split(' ')[0] == 'Account' %}
                    <p class="error-message">Token expired? <a href="{{ url_for('activation_request') }}">Request another.</a></p>
                  {% endif %}
                {% endfor %}
              {% else %}
                {{ login_form.username(class='modal-content input-text') }}
            {% endif %}
          {% else %}
            {{ login_form.username(class='modal-content input-text') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ login_form.password.label(class='modal-content') }}
            {% if errors %}
              {% if 'password' in errors %}
                {{ login_form.password(class='modal-content invalid-input') }}
                {% for message in errors['password'] %}
                  <p class="error-message">{{ message }}</p>
                {% endfor %}
              {% else %}
                {{ login_form.password(class='modal-content input-text') }}
              {% endif %}
          {% else %}
            {{ login_form.password(class='modal-content input-text') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ login_form.remember.label(class='modal-content') }}
          <label class="checkbox-container">
            {{ login_form.remember(class='modal-content checkbox') }}
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="modal-content form-element">
          {{ login_form.submit(class='button') }}
        </div>
      </form>
      <a href="{{ url_for('forgot_password') }}">
        <button class="forgot-password-btn">Clouded by dark side my mind is, <b>forgot password</b> I did</button>
      </a>
    </div>
</div>

<div class="modal" id="register-modal">
    <div class="modal-content-wrapper">
      <div id="register-close-btn" class="modal-close-btn">&times;</div>
      <form action="{{ url_for('register') }}" method="POST">
        {{ register_form.csrf_token(id='reg-csrf') }}
        <div class="modal-content form-element">
          {{ register_form.username.label(class='modal-content') }}
          {% if errors %}
            {% if 'username' in errors %}
              {{ register_form.username(class='modal-content invalid-input') }}
              {% for message in errors['username'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.username(class='modal-content input-text') }}
          {% endif %}
        {% else %}
          {{ register_form.username(class='modal-content input-text') }}
        {% endif %}
      </div>
      <div class="modal-content form-element">
          {{ register_form.email.label(class='modal-content') }}
          {% if errors %}
            {% if 'email' in errors %}
              {{ register_form.email(class='modal-content invalid-input') }}
              {% for message in errors['email'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.email(class='modal-content input-text') }}
          {% endif %}
        {% else %}
          {{ register_form.email(class='modal-content input-text') }}
        {% endif %}
      </div>
      <div class="modal-content form-element">
        {{ register_form.password.label(class='modal-content') }}
          {% if errors %}
            {% if 'password' in errors %}
              {{ register_form.password(class='modal-content invalid-input') }}
              {% for message in errors['password'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.password(class='modal-content input-text') }}
            {% endif %}
        {% else %}
          {{ register_form.password(class='modal-content input-text') }}
        {% endif %}
      </div>
      <div class="modal-content form-element">
        {{ register_form.confirm_password.label(class='modal-content') }}
          {% if errors %}
            {% if 'confirm_password' in errors %}
              {{ register_form.confirm_password(class='modal-content invalid-input') }}
              {% for message in errors['confirm_password'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.confirm_password(class='modal-content input-text') }}
            {% endif %}
        {% else %}
          {{ register_form.confirm_password(class='modal-content input-text') }}
        {% endif %}
      </div>
      <div class="modal-content form-element">
        {{ register_form.submit(class='button') }}
      </div>
    </form>
  </div>
</div>

<div class="footer">
  <p>Background image generated <a href="http://wwwtyro.github.io/procedural.js/space/" target="_blank">here</a></p>
  <p>Contact: sw5esheets@gmail.com</p>
</div>
<script
  type="module"
  src="{{ url_for('static', filename='js/home-animations.js') }}"
></script>
<script>
  if ('{{ origin }}' === 'register') {
    let registerModal = document.getElementById('register-modal')
    registerModal.style.display = 'block'
  } else if ('{{ origin }}' === 'login') {
    let loginModal = document.getElementById('login-modal')
    loginModal.style.display = 'block'
  }
</script>
{% endblock content %}
