{% extends "layout.html" %} {% block content %}
<div class="header">
  <div class="header-title">SW5e</div>
  <div class="header-buttons-wrapper">
    <button id="login-button">Login</button>
    <button id="register-button">Register</button>
  </div>
</div>
<div class="main-content-wrapper">
  content
  <div class="modal" id="login-modal">
    <div class="modal-content-wrapper">
      <form action="{{ url_for('login') }}" method="POST">
        {{ login_form.csrf_token(id='log-csrf') }}
        <div class="modal-content form-element">
          {{ login_form.email.label(class='modal-content') }}
            {% if errors and origin == 'login' %}
              {% if 'email' in errors %}
                {{ login_form.email(class='modal-content invalid-input') }}
                {% for message in errors['email'] %}
                  <p class="error-message">{{ message }}</p>
                {% endfor %}
              {% else %}
                {{ login_form.email(class='modal-content') }}
            {% endif %}
          {% else %}
            {{ login_form.email(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ login_form.password.label(class='modal-content') }}
            {% if errors %}
              {% if 'password' in errors %}
                {{ login_form.password(class='modal-content invalid-input') }}
                {% for message in errors['password'] %}
                  <p class="error-message">{{ message }}</p>
                {% endfor %}
              {% else %}
                {{ login_form.password(class='modal-content') }}
              {% endif %}
          {% else %}
            {{ login_form.password(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ login_form.remember.label(class='modal-content') }}
          {{ login_form.remember(class='modal-content') }}
        </div>
        <div class="modal-content form-element">
          {{ login_form.submit(class='button') }}
        </div>
      </form>
    </div>
  </div>

  <div class="modal" id="register-modal">
    <div class="modal-content-wrapper">
      <form action="{{ url_for('register') }}" method="POST">
        {{ register_form.csrf_token(id='reg-csrf') }}
        <div class="modal-content form-element">
          {{ register_form.username.label(class='modal-content') }}
          {% if errors %}
            {% if 'username' in errors %}
              {{ register_form.username(class='modal-content invalid-input') }}
              {% for message in errors['username'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.username(class='modal-content') }}
            {% endif %}
          {% else %}
            {{ register_form.username(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ register_form.email.label(class='modal-content') }}
          {% if errors and origin == 'register' %}
            {% if 'email' in errors %}
              {{ register_form.email(class='modal-content invalid-input') }}
              {% for message in errors['email'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.email(class='modal-content') }}
            {% endif %}
          {% else %}
            {{ register_form.email(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ register_form.password.label(class='modal-content') }}
          {% if errors and origin == 'register' %}
            {% if 'password' in errors %}
              {{ register_form.password(class='modal-content invalid-input') }}
              {% for message in errors['password'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.password(class='modal-content') }}
            {% endif %}
          {% else %}
            {{ register_form.password(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ register_form.confirm_password.label(class='modal-content') }}
          {% if errors and origin == 'register' %}
            {% if 'confirm_password' in errors %}
              {{ register_form.confirm_password(class='modal-content invalid-input') }}
              {% for message in errors['confirm_password'] %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            {% else %}
              {{ register_form.confirm_password(class='modal-content') }}
            {% endif %}
          {% else %}
            {{ register_form.confirm_password(class='modal-content') }}
          {% endif %}
        </div>
        <div class="modal-content form-element">
          {{ register_form.submit(class='button') }}
        </div>
      </form>
    </div>
  </div>
</div>
<div class="footer">footer</div>
<script
  type="module"
  src="{{ url_for('static', filename='js/home-animations.js') }}"
></script>
<script>
  if ('{{ origin }}' === 'register') {
    let registerModal = document.getElementById('register-modal')
    registerModal.style.display = 'block'
  } else if ('{{ origin }}' === 'login') {
    let loginModal = document.getElementById('login-modal')
    loginModal.style.display = 'block'
  }
</script>
{% endblock content %}
