{% extends "layout.html" %} {% block content %}
<div class="header">
  <div class="header-title">SW5e</div>
  <div class="header-buttons-wrapper">
    <a href="{{ url_for('account') }}">
      <button>Account</button>
    </a>
    <a href="{{ url_for('logout') }}">
      <button>Log out</button>
    </a>
  </div>
</div>

<div class="main-content-wrapper">
  <ul id="sheet-links">
    {% for sheet in sheets %}
    <li class="sheet-link">
      <a href="char-sheet/{{ sheet[0] }}">{{ sheet[1] }}</a>
      <a href="delete-sheet/{{ sheet[0] }}">
        <button>Delete</button>
      </a>
    </li>
    {% endfor %}
  </ul>
  <form action="{{ url_for('create_sheet') }}" method="POST">
    <button>Create a character</button>
  </form>
</div>
{% endblock content %}
