{% extends "layout.html" %} {% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-element">
    {{ form.username.label(class='label') }}
    {{ form.username(class='text') }}
  </div>
  <div class="form-element">
    {{ form.email.label(class='label') }}
    {{ form.email(class='text') }}
  </div>
  <div class="form-element">
    {{ form.password.label(class='label') }}
    {{ form.password(class='text') }}
  </div>
  <div class="form-element">
    {{ form.confirm_password.label(class='label') }}
    {{ form.confirm_password(class='text') }}
  </div>
  <div class="form-element">
    {{ form.submit(class='button') }}
  </div>
</form>
{% endblock content %}
