{% extends "layout.html" %} {% block content %}
<div class="main-content-wrapper">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-element">
      {{ form.new_password.label(class='label') }}
      {% if errors %}
        {% if 'new_password' in errors %}
          {{ form.new_password(class='text invalid-input') }}
          {% for message in errors['new_password'] %}
            <p class="error-message">{{ message }}</p>
          {% endfor %}
        {% else %}
          {{ form.new_password(class='text') }}
        {% endif %}
      {% else %}
        {{ form.new_password(class='text') }}
      {% endif %}
    </div>
    <div class="form-element">
      {{ form.confirm_password.label(class='label') }}
      {% if errors %}
        {% if 'confirm_password' in errors %}
          {{ form.confirm_password(class='text invalid-input') }}
          {% for message in errors['confirm_password'] %}
            <p class="error-message">{{ message }}</p>
          {% endfor %}
        {% else %}
          {{ form.confirm_password(class='text') }}
        {% endif %}
      {% else %}
        {{ form.confirm_password(class='text') }}
      {% endif %}
    </div>
    <div class="modal-content form-element">
      {{ form.submit(class='button') }}
    </div>
  </form>
  <a href="{{ url_for('index') }}">
    <button>Return</button>
  </a>
</div>
{% endblock content %}